
.img-table{
    width: 220px;
}
.table-cottage{
    width: 1700px;
    scroll-behavior: smooth;
}
.cottage-inner{
    overflow-x: scroll;
}
.change-type-notif{
    background-color: slateblue;
    color: white;
    font-weight: 700;
}
.change-type-notif:hover{
    background: red;
    color: white;
}