
.img-table{
    width: 130px;
}
.table-cottage{
    width: 1700px;
    scroll-behavior: smooth;
}
.cottage-inner{
    overflow-x: scroll;
}
.change-type-notif{
    background-color: rgb(69, 48, 204);
    color: white;
    font-weight: 700;
}
.change-type-notif:hover{
    background: rgb(212, 48, 48);
    color: white;
}