.dashboart{
  background: #EEF5FF;
}

.login{
  display: flex;
  align-items: center;
  height: 100vh;
  background: url('./assets/login.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}
.login--wrapper{
  width: 600px !important;
  margin-left: 100px;
  box-shadow: rgb(204, 219, 232) 3px 3px 6px 0px inset, rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
}

.dashboart-inner{
  width: 100%;
  display: flex;
}
.aside-dashboart{
  max-width: 350px;
  height: 100vh;
  background-color: #2B2A4C;
  padding: 20px;
  text-align: center;
}
.dash-img-logo{
  padding: 10px 50px;
  margin: 0 auto; 
  border-radius: 50%;
  border: 1px solid silver;
}
.main-dashboart{
  width: 100%;
  height: 100vh;
  overflow-y: scroll;
  background-color: #ffff;
  padding: 20px;
}
.header-dashboart{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.input-search{
  padding: 8px 20px;
  border-radius: 5px;
}
.userLogo{
  cursor: pointer;
}
.link-wrap-dash{
  margin: auto;
}
.dash-link{
  text-decoration: none;
  color: white;
  display: block;
  margin: 5px auto;
  text-align: start;
  font-size: 20px;
  font-weight: 600;
  padding: 4px 15px;
}
.dash-link:hover{
  background: blue;
  color: white;

}
.active{
  background: blue;
  border-radius: 5px;
}

.log-aout{
  margin: 50px 0 0;
  display: block;
  color: red;
  font-size: 20px;
  font-weight: 500;
  border-radius: 9px;
}

.btn-modal{
  margin-left: auto;
  padding: 8px 19px;
}
.modal-language{
  display: none;
  margin: 0 auto;
}
.file-input{
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}
.file-input-label{
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  border-radius: 4px;
  font-size: 14px;
  font-weight: 600;
  color: #fff;
  font-size: 14px;
  padding: 10px 12px;
  background-color: #4245a8;
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.25);
}
.file-input-label svg{
  height: 16px;
  margin-right: 4px;
}
.addnew-objects{
  display: flex;
  flex-wrap: wrap;
  font-weight: 700;
  padding: 10px;
}
.addnew-object{
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}

.addnew-check{
  margin-bottom: 10px;
}
.inative{
  color: red !important;
  text-transform: uppercase !important;
  background-color: red !important ;
  padding: 0px 8px !important;
}
.active{
  color: white;
  background-color: rgb(32, 27, 184);
  padding: 5px 8px;
}
.childImgCard{
  position: relative;
}
.deletChildImg{
  position: absolute;
  top: 35px;
  left: 22px;
  display: none;
  z-index: 99999;  
}

.childImage{
  border-radius: 12.5px;
}
.childImgCard:hover .deletChildImg{
  display: block;
  cursor: pointer;  
}
.img-wrap-cottage{
  width: 50px;
  display: grid;
  grid-template-columns: repeat(2, 50px);
}